
body, html {
	height: 100%;
	margin: 0;
	background-color: #0a1429;
}

.login-page {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    visibility: hidden;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	margin: auto;
	border: 5px solid black;
	border-radius: 20px;
	padding: 20px;
	height: 100%;
	background-color: gray;
}

.login-box > input {
	clear: both;
	margin: 5px;
	background-color: #3366cc;
	border-radius: 7px;
	border-color: black;
	border-style: solid;
	color: black;
}

.login-box > button {
	background-color: #3366cc;
	border-radius: 7px;
	border-color: black;
	border-style: solid;
	padding: 5px;
	margin: 10px;
	color: black;
}

@keyframes spinner {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.loading {
	position: absolute;
	z-index: 15;
	height: 100px;
	width: 200px;
	margin-top: -50px;
  	margin-left: -100px;
  	top: 50%;
  	left: 50%;
  	visibility: hidden;
  	text-align: center;
  	color: white;
}

.loading-spinner {
	margin: auto;
	background-color: white;
	width: 25px;
	height: 25px;
	transform-origin: center;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: spinner;
}

.failure-page {
	position: absolute;
	z-index: 15;
	height: 100px;
	width: 200px;
	margin-top: -50px;
  	margin-left: -100px;
  	top: 50%;
  	left: 50%;
  	color: white;
  	visibility: hidden;
}

.error {
	visibility: hidden;
	color: red;
}